# Ensemble Learning

## Initial Imports

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [18]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [19]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [20]:
cols = df.columns
num_cols = df._get_numeric_data().columns
cate_cols = list(set(cols) - set(num_cols) - set(['loan_status']))

In [21]:
df = pd.get_dummies(df,columns=cate_cols)

In [22]:
df

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,0,0,1,0,1,1,0,0,0,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,0,0,0,1,1,0,0,0,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,0,0,0,1,1,0,0,0,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,0,0,1,0,1,1,0,0,0,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,low_risk,9.60,0.0,0.0,9.0,0.0,...,0,0,1,0,1,1,0,0,1,0
68813,12000.0,0.2727,368.37,63000.0,low_risk,29.07,0.0,0.0,8.0,0.0,...,0,0,1,0,1,1,0,0,1,0
68814,5000.0,0.1992,185.62,52000.0,low_risk,14.86,0.0,0.0,5.0,1.0,...,1,0,0,0,1,1,0,0,1,0
68815,40000.0,0.0646,1225.24,520000.0,low_risk,9.96,0.0,1.0,21.0,0.0,...,1,0,0,1,0,1,0,0,1,0
68816,16000.0,0.1131,350.36,72000.0,low_risk,7.02,2.0,0.0,12.0,1.0,...,1,0,0,0,1,1,0,0,1,0

In [12]:
set(['loan_status'])

{'loan_status'}

## Split the Data into Training and Testing

In [23]:
# Create our features
features = list(set(df.columns) - set(['loan_status']))
X = df[features]

# Create our target
y = df['loan_status']

In [26]:
X.describe()

,pct_tl_nvr_dlq,loan_amnt,int_rate,mort_acc,application_type_Joint App,num_rev_tl_bal_gt_0,num_accts_ever_120_pd,verification_status_Source Verified,mo_sin_rcnt_tl,home_ownership_OWN,...,total_bc_limit,mo_sin_old_il_acct,num_sats,mo_sin_rcnt_rev_tl_op,next_pymnt_d_Apr-2019,verification_status_Not Verified,verification_status_Verified,open_il_24m,inq_last_12m,pymnt_plan_n
count,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0
mean,95.057627,16677.594562,0.127718,1.441882,0.139660,5.653036,0.472485,0.373992,7.179781,0.106747,...,29734.128558,125.468605,12.571995,14.294215,0.383161,0.478007,0.148001,1.909644,2.189023,1.0
std,8.326426,10277.348590,0.048130,1.747777,0.346637,3.472679,1.410819,0.483865,6.303066,0.308793,...,26795.394232,56.968853,6.021318,17.417118,0.486161,0.499520,0.355104,1.544994,2.396186,0.0
min,20.000000,1000.000000,0.060000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,100.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,93.000000,9000.000000,0.088100,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000,0.000000,...,11600.000000,87.000000,8.000000,4.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.0
50%,100.000000,15000.000000,0.118000,1.000000,0.000000,5.000000,0.000000,0.000000,5.000000,0.000000,...,22100.000000,132.000000,11.000000,9.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.0
75%,100.000000,24000.000000,0.155700,2.000000,0.000000,7.000000,0.000000,1.000000,10.000000,0.000000,...,39300.000000,159.000000,16.000000,19.000000,1.000000,1.000000,0.000000,3.000000,3.000000,1.0
max,100.000000,40000.000000,0.308400,20.000000,1.000000,43.000000,34.000000,1.000000,170.000000,1.000000,...,509400.000000,606.000000,72.000000,564.000000,1.000000,1.000000,1.000000,22.000000,42.000000,1.0

In [28]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [29]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y, test_size=0.2)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [31]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [32]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler.fit(X_train)

StandardScaler()

In [33]:
# Scale the training and testing data
scaled_train = scaler.transform(X_train)
scaled_test = scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [34]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [36]:
# Calculated the balanced accuracy score
y_pred_rf = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred_rf)

0.8096004571646269

In [37]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred_rf)

array([[   48,    21],
       [ 1047, 12648]], dtype=int64)

In [38]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_rf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.70      0.92      0.08      0.80      0.63        69
   low_risk       1.00      0.92      0.70      0.96      0.80      0.66     13695

avg / total       0.99      0.92      0.70      0.96      0.80      0.66     13764

In [41]:
# List the features sorted in descending order by feature importance
important_features = pd.Series(data=brf.feature_importances_,index=X_train.columns)
important_features.sort_values(ascending=False,inplace=True)

In [42]:
important_features

total_rec_prncp            0.069976
total_pymnt                0.060485
total_pymnt_inv            0.059508
total_rec_int              0.057377
last_pymnt_amnt            0.057128
                             ...
tax_liens                  0.000000
recoveries                 0.000000
hardship_flag_N            0.000000
collection_recovery_fee    0.000000
pymnt_plan_n               0.000000
Length: 95, dtype: float64

### Easy Ensemble Classifier

In [44]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(random_state=1)

In [45]:
# Calculated the balanced accuracy score
y_pred_rf = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred_rf)

0.9342682984904043

In [46]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred_rf)

array([[   64,     5],
       [  808, 12887]], dtype=int64)

In [47]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_rf))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.93      0.94      0.14      0.93      0.87        69
   low_risk       1.00      0.94      0.93      0.97      0.93      0.87     13695

avg / total       0.99      0.94      0.93      0.97      0.93      0.87     13764

### Final Questions

**1. Which model had the best balanced accuracy score?**

  -  Based on the above models, Easy Ensemble Classifier has the best balanced accuracy score (0.9342682984904043).

**2. Which model had the best recall score?**

  -  Based on the above models, Easy Ensemble Classifier has the best recall score (avg / total = 0.94)

**3. Which model had the best geometric mean score?**

  -  Based on the above models, Easy Ensemble Classifier has the best geometric mean score (avg / total = 0.93)

**4. What are the top three features?**

  -  Based on the Balanced Random Forest Classifier, the top three features are total_rec_prncp at 0.069976, total_pymnt at 0.060485, and total_pymnt_inv at 0.059508.